<!DOCTYPE html>
<html lang="en" ng-app="">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body ng-init="name='Aeshwer'" >
   <!--<div ng-show="isHidden">-->
   <div ng-hide="isHidden">
   Name: <input type="text" ng-model="name"/>
   {{name}}
   <!--<span  ng-bind="name"></span> does same thing as above line-->
   </div>
   HIDE: <input type="checkbox" ng-model="isHidden"/>
   <br />
  <button  ng-click="name='Kanika'">Change name</button>
</body>
</html>