<!doctype html>
<html ng-app="LibraryApp">
<head>
    <title>Library Management System</title>
    <h1>Library Management System</h1>
    <link href="styles.css" rel="stylesheet" type="text/css" />
    
</head>
<body ng-controller="BookDetailsController">    
    <h2>Books Database</h2>
    Search: <input type="text" ng-model="bookDetailsFilter.name" />
    <br/><br/>
    <table>
        <tr>
            <th ng-click="doSort('name')">Book Title</th>
            <th ng-click="doSort('author')">Author</th>
            <th ng-click="doSort('price')">Price</th>
            <th ng-click="doSort('details')">Details</th>        
        </tr>
        <tr ng-repeat="book in bookDetails | filter:bookDetailsFilter | orderBy:sortBy:reverse" >        
            <td>{{ book.name }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.price }}</td>
            <td>{{ book.details }}</td>
        </tr>
    </table> 
    <br /> 
    
    <script src="angular.js"></script>
    <script src="app.js"></script>
    <script src="bookDetailsController.js"></script>
</body>
</html>
